@font-face {
	font-family: "Msuperf";
	src: url('../fonts/superfonte.ttf');
}

body{
  background-color: rgba(151, 163, 205, 0.8);
  font-family: "Msuperf", Helvetica, Arial, sans-serif;
	margin : 0px;
}

nav {
  width: 100%;
  margin-top: 0px;
}

ul {
 padding:0;
 margin:0;
 list-style-type:none;
 margin: 0px;
 }


  nav>#menu>a {
   text-decoration:none;
   color: black;
  }

  #menu a li {
    display: inline;
    padding-left: 20px;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 18px;
    background-color: rgba(23, 200, 126, 0.2);
    float: right;
    font-size: 35px;
  }
 #menu a#acc li {
   float: left;
   padding-right: 50px;
   padding-left: 50px;
   padding-bottom: 5px;
   font-size: 45px;

 }
  #menu a li:hover {
    background-color: rgba(111, 150, 231, 0.5);
  }
 #corps_menu{
 	height: 150px;

 }

 .carre{
   display: inline-block;
   width: 35%;
   background-color: rgba(132,154,168,0.7);
   padding: 20px;
   padding-top: 10px;
 }

#corps{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#bite{
  float: right;
}
  .carre input{
    margin-bottom: 1%;
  }

  .carre #subm{
    margin-top: 2%;
    margin-left: 5%;
  }
